package config

import "time"

const (
	UseProxy                  = true
	Headless                  = true
	Deep                      = 1
	TimeOutSec                = time.Second * 0
	Threads                   = 1
	KwNumber                  = 1
	AttemptsToGenerateSession = 3
)
